/* external css style file */

.case-study-tagline {
	text-align: center;
	font-size: 1.75rem;
	font-style: normal;
	font-variant: all-petite-caps;
	margin-bottom: 6rem;
	margin-top: 0.8rem;
}

.heading-two {
	margin-top: 4rem;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}

.zero-margin-bott {
	margin-top: 2.5rem;
	font-size: 1.8rem;
	margin-bottom: 0;
}

.fig-tit {
	display: block;
	text-align: center;
	font-size: 0.93rem;
	color: #696969;
	margin-bottom: 2rem;
	margin-top: 1rem;
	line-height: 1.5em;
}

.bold {
	color: #000000;
}

.heading-three {
	font-size: 1.7rem;
	font-family: 'Miriam Libre', sans-serif; 
}

.heading-four {
    font-size: 1.4rem;
    font-family: 'Miriam Libre', sans-serif;
	color: #848484;
	margin-bottom: 0.4em;
	margin-top: 2.5em;
}

.inline-links {
	text-decoration: none;
}

.inline-links:link, .inline-links:visited {
	color: blue;
}

.inline-links:hover, .inline-links:active {
	color: hotpink;
}

.num-list {
	color: #696969;
	line-height: 2rem;
	padding-inline-start: 0;
	margin-block-end: 0;
}

.list-item {
	width: 45rem;
	margin: 0 auto;
}

.heading-five {
	font-size: 1.2rem;
	color: #696969;
	font-family: 'Miriam Libre', sans-serif;
}

.bold-miriam {
	font-family: 'Miriam Libre', sans-serif;
	color: black;
	font-size: 1.1rem;
}

.list-ia {
    padding-inline-start: 0;
}

.list-item-takeaway {
	width: 45rem;
	margin: 0 auto 2em auto;

}
