/* external css style file */

@media screen and (min-width: 768px) {
	.grid-3 {
		display: grid;
		grid-template-columns:
			minmax(1rem, 1fr)
			minmax(0, 55%)
			minmax(1rem, 1fr)
		;
	}
}

.grid-3 > * {
	grid-column: 2;
}

.page-title {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 0.5rem;
	margin-top: 8rem;
}

.case-study-tagline {
	text-align: center;
	font-size: 1.75rem;
	font-style: normal;
	font-variant: all-petite-caps;
	margin-bottom: 6rem;
	margin-top: 0.8rem;
}

.heading-two {
	margin-top: 4rem;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}

.zero-margin-bott {
	margin-top: 2.5rem;
	font-size: 1.8rem;
	margin-bottom: 0;
}

.full-width {
	grid-column: 1 / 4;
}

.cartoon {
	display: block;
	margin: 1.5rem auto 0 auto;
}

.cs-image {
	display: block;
	margin: 4rem auto 0 auto;
}

.fig-tit {
	display: block;
	text-align: center;
	font-size: 0.93rem;
	color: #696969;
	margin-bottom: 2rem;
}

.text {
	font-size: 1rem;
	line-height: 2rem;
	color: #696969;
	margin-bottom: 0;
}

.bold {
	color: #000000;
}

.heading-three {
	font-size: 1.7rem;
	font-family: 'Miriam Libre', sans-serif; 
}

.heading-four {
    font-size: 1.4rem;
    font-family: 'Miriam Libre', sans-serif;
	color: #848484;
	margin-bottom: 0.4em;
}

.inline-links {
	text-decoration: none;
}

.inline-links:link, .inline-links:visited {
	color: blue;
}

.inline-links:hover, .inline-links:active {
	color: hotpink;
}

.num-list {
	color: #696969;
	line-height: 2rem;
}

h5 {
	font-size: 18px;
	color: #696969;
}

#about {
	text-align: center;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 18px;
}

.grid-4 {
 display: grid;
 grid-template-columns:
		minmax(1em, 1fr)
		minmax(0, 27.5%)
		minmax(0, 27.5%)
		minmax(1em, 1fr)
 ;
}

.experience, .education {
	grid-column: 2;
	font-size: 25px;
	margin-bottom: 0;
	text-align: center;
}

.designation, .time-place, .job-description {
	grid-column: 3;
	color: #696969;
}

.designation {
	font-size: 20px;
	margin-top: 30px;
	font-weight: 600;	
}

.time-place {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 16px;
	margin-top: 10px;
	color: #aeaeae;
}

.job-description {
	font-size: 17px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.grid-5 {
	display: grid;
	grid-template-columns:
		minmax(1em, 1fr)
		repeat(3, minmax(0, 25%))
		minmax(1em, 1fr)
	;
	margin: 30px 0 25px 0;
	grid-gap: 25px;
}

.case-studies {
	grid-column: 2;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 18px;
	color: #696969; 
}

.cs-tile-1 {
	grid-column: 2;
}

.cs-tile-2 {
	grid-column: 3;
}

.cs-tile-3 {
	grid-column: 4;
}

.download {
	width: 200px;
	margin: 50px auto 100px auto;
	display: block;
	color: #ff0080;
	background-color: #ffffff;
	border: 1px solid #ff0080;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Miriam Libre', sans-serif;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	grid-column: 3;
}

.download:hover {
	color: white;
	background-color: #ff45a2;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

