
/* external css style file */

#about {
	text-align: center;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.2rem;
	margin-top: 0.5em;
	display: block;
}

#about:link, #about:visited {
	color: #696969;
}

#about:hover, #about:active {
	color: hotpink;
}

.case-studies {
	grid-column: 2;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.2rem;
	color: #696969; 
}

.cs-tile-1 {
	grid-column: 2;
}

.cs-tile-2 {
	grid-column: 3;
}

.cs-tile-3 {
	grid-column: 4;
}

.text-block {
	font-family: 'Miriam Libre', sans-serif;
	color: #5d5d5d;
}