
/* external css style file */

#about {
	text-align: center;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.2rem;
	margin-top: 0.5em;
	display: block;
	text-decoration: none;
}

#about1 {
	text-decoration: none;
}

#about:link, #about:visited {
	color: #696969;
}

#about1:link, #about1:visited {
	color: #696969;
}

#about:hover, #about:active {
	color: hotpink;
}

#about1:hover, #about1:active {
	color: hotpink;
}

.case-studies {
	grid-column: 2;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.2rem;
	color: #696969; 
}

.cs-tile {
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	position: relative;
	text-align: center;
}

.cs-tile-2 {
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	position: relative;
	text-align: center;
	color: white;
	cursor: not-allowed;
}

.overlay {
	position: relative;
	margin: 0;
}

.overlay-inner{
	width: 100%;
	height: 99.5%;
	z-index: 2;
	position: absolute;
}

.overlay-inner:hover{
	background-color: black;
	opacity: 0.4;
}

.cs-tile-img {
	max-width: 100%;
}

.top-left {
	position: absolute;
	top: 3rem;
	left: 2rem;
	font-size: 1.6rem;
	font-weight: 700;
	z-index: 100;
	color: white;
	opacity: 0.6;
}

.left-50 {
	position: absolute;
	left: 50%;
	margin: 25% 0 25% 0;
}

.top-left-1400 {
	position: relative;
	top: 50%;
	left: -50%;
	font-size: 1.6rem;
	font-weight: 700;
	z-index: 100;
	color: white;
	line-height: 2.2rem;

}

.top-left-p {
	position: absolute;
	top: 5.5rem;
	left: 2rem;
	font-size: 1.2rem;
	z-index: 100;
	color: white;
	opacity: 0.6;
}

.top-left-p-N {
	position: absolute;
	top: 5.5rem;
	left: 2rem;
	font-size: 1.2rem;
	z-index: 5;
	color: red;
}

.grid-5 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5rem 7rem 0rem 7rem;
}

.grid-8 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0rem 7rem 3rem 7rem;
}

.grid-5-1400, .grid-5-1000, .grid-5-1300, .grid-5-1100, .grid-5-790, .grid-8-1400 {
	display: none;
}

@media screen and (max-width: 1400px) {
	.grid-5, .grid-8, .grid-5-1000, .grid-5-1300, .grid-5-1100, .grid-5-790 {
		display: none;
	}

	.top-left-1400 {
		opacity: 0;
	}
	
	.grid-5-1400 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 5rem 7rem 0rem 7rem;
	}

	.grid-8-1400 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0rem 7rem 3rem 7rem;
	}

	.overlay-inner:hover{
		background-color: black;
		opacity: 0.75;
	}	
	
}

@media screen and (max-width: 1300px) {
	.grid-5, .grid-8, .grid-5-1400, .grid-5-1000, .grid-5-1100, .grid-5-790, .grid-8-1400  {
		display: none;
	}

	.top-left-1400 {
		opacity: 0;
	}

	.grid-5-1300 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 4rem 15rem 4rem 15rem;
	}

	.overlay-inner:hover{
		background-color: black;
		opacity: 0.75;
	}	
}

@media screen and (max-width: 1100px) {
	.grid-5, .grid-8, .grid-5-1400, .grid-5-1000, .grid-5-1300, .grid-5-790, .grid-8-1400 {
		display: none;
	}

	.top-left-1400 {
		opacity: 0;
	}

	.grid-5-1100 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 4rem 10rem 4rem 10rem;
	}

	.overlay-inner:hover{
		background-color: black;
		opacity: 0.75;
	}	
}

@media screen and (max-width: 1000px) {
	.grid-5, .grid-8, .grid-5-1400, .grid-5-1300, .grid-5-1100, .grid-5-790, .grid-8-1400 {
		display: none;
	}

	.top-left-1400 {
		opacity: 0;
	}

	.grid-5-1000 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 3rem 5rem 3rem 5rem;
	}

	.overlay-inner:hover{
		background-color: black;
		opacity: 0.75;
	}	

}

@media screen and (max-width: 790px) {
	.grid-5, .grid-8, .grid-5-1400, .grid-5-1300, .grid-5-1100, .grid-5-1000, .grid-8-1400  {
		display: none;
	}

	.top-left-1400 {
		opacity: 0;
	}

	.grid-5-790 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 2rem 2rem 2rem 2rem;
	}

	.overlay-inner:hover{
		background-color: black;
		opacity: 0.75;
	}	
}

