/* external css style file */

/* aspect ratio : 1.40474 */

.iframe-container {
    position: relative;
    width: 55%;
    padding-bottom: 39.15315%; 
    height: 0;
    margin: 2rem auto 2.5rem;
}

.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.post {
    font-size: 1rem;
    line-height: 1.9rem;
    color: #696969;
    margin-bottom: 0;
    margin-block-start: 1.3em;
    width: 55%;
    margin: auto;
}

@media screen and (max-width: 1160px) {
    .iframe-container {
        position: relative;
        width: 70%;
        padding-bottom: 49.83129%; 
        height: 0;
        margin: 2rem auto 2.5rem;
    }

    .post {
        width: 70%;
    }
}

@media screen and (max-width: 680px) {
    .iframe-container {
        position: relative;
        width: 90%;
        padding-bottom: 64.0688%; 
        height: 0;
        margin: 2rem auto 2.5rem;
    }
    .post {
        width: 90%;
    }
}

