/* external css style file */

.experience, .education {
    grid-column: 2;
    font-size: 1.7rem;
    margin-block-start: 0.85em;
    margin-block-end: 0.15em;
    text-align: center;
}

.designation, .time-place, .job-description {
	grid-column: 3;
	color: #696969;
}

.designation {
    font-size: 1.3rem;
    margin-top: 1.1em;
    font-weight: 700;
    color: #272020;
    line-height: 1.5em;
}

.time-place {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 1.08rem;
    margin-top: 1em;
    color: #aeaeae;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.job-description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 1.3em;
}

.download {
    width: 15rem;
    margin: 3em auto 6em auto;
    display: block;
    background-color: #ffffff;
    border: 1px solid #ff0080;
    padding: 1em 0.8em;
    font-size: 1.15rem;
    font-family: 'Miriam Libre', sans-serif;
    border-radius: 2.5em;
    transition-duration: 0.4s;
    grid-column: 3;
    text-align: center;
    color: #ff0080;
    text-decoration: none;
    cursor: pointer;
}

.download:hover {
    background-color: #ff45a2;
    color: white;
    text-decoration: none;
	/*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
}

.text-dropemail {
	font-size: 1rem;
	line-height: 1.9rem;
    color: #696969;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin-block-start: 1.3em;
    border-bottom: 1.5px solid #dddddd;
}

@media screen and (max-width: 1400px) {
    .experience, .education {
        grid-column: 2;
        font-size: 1.7rem;
        margin-block-start: 0.85em;
        margin-block-end: 1em;
        text-align: left;
        color: hotpink;
    }

    .designation, .time-place, .job-description {
        grid-column: 2;
        color: #696969;
    }
    
    .designation {
        font-size: 1.3rem;
        margin-top: 1.1em;
        font-weight: 700;
        color: #272020;
        line-height: 1.5em;
    }
    
    .time-place {
        font-family: 'Miriam Libre', sans-serif;
        font-size: 1.08rem;
        margin-top: 1em;
        color: #aeaeae;
        margin-bottom: 1em;
    }
    
    .job-description {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-block-start: 0;
        margin-block-end: 1.3em;
    }
}