/* external css style file */

@media screen and (min-width: 768px) {
	.top-nav {
		display: flex;
		flex-direction: row;
		padding: 1.3rem 9rem 0 9rem;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1200px) {
	.bottom-nav {
		display: flex;
		flex-direction: row;
		padding: 2.5rem 20rem 2.5rem 20rem;
		justify-content: space-between;
		border-top: 1px dashed #b6b6b6;
	}
}

nav {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.13rem;
	color: #696969;
	text-decoration: none;
}

#anova {
    padding-bottom: 0.2rem;
	border-bottom: 0.2rem solid currentColor;
	color: #696969;
	text-decoration: none;
}

#anova:link, #anova:visited, .nav-a:link, .nav-a:visited, .contacts:link, .contacts:visited, #email:link, #email:visited {
	color: #696969;
}

#anova:hover, #anova:active, .nav-a:hover, .nav-a:active, .contacts:hover, .contacts:active, #email:hover, #email:active{
	color: hotpink;
}

.nav-menu-items {
	text-align: right;
    list-style: none;
}

.nav-ul {
    display: inline-block; 
	margin-top: 0;
	margin-bottom: 0;
}

.experiments {
	opacity: 0.65;
	cursor: not-allowed;
	color: #696969; 
}

.experiments:hover {
	color: #696969;
	opacity: 0.5;
}

.contacts, #email {
	text-decoration: none;
}
