/* external css style file */

.top-nav {
	display: flex;
	flex-direction: row;
	padding: 1.3rem 9rem 0 9rem;
	justify-content: space-between;
}

.bottom-nav {
	display: flex;
	flex-direction: row;
	padding: 2.5rem 30% 2.5rem 30%;
	justify-content: space-between;
	border-top: 1px solid #dfdfdf;
}

nav {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.13rem;
	color: #696969;
	text-decoration: none;
}

#anova {
    padding-bottom: 0.2rem;
	border-bottom: 0.2rem solid currentColor;
	color: #696969;
	text-decoration: none;
}

#anova:link, #anova:visited, .nav-a:link, .nav-a:visited, .contacts:link, .contacts:visited, #email:link, #email:visited,
#anova-1060:link, .nav-menu-items-1060:link, .nav-a-1060:link, .experiments-1060:link, 
#anova-1060:visited, .nav-menu-items-1060:visited, .nav-a-1060:visited, .experiments-1060:visited,
#anova-500:link, .nav-menu-items-500:link, .nav-a-500:link, .experiments-500:link, 
#anova-500:visited, .nav-menu-items-500:visited, .nav-a-500:visited, .experiments-500:visited {
	color: #696969;
}

#anova:hover, #anova:active, .nav-a:hover, .nav-a:active, .contacts:hover, .contacts:active, #email:hover, #email:active,
#anova-1060:hover, .nav-menu-items-1060:hover, .nav-a-1060:hover,
#anova-1060:active, .nav-menu-items-1060:active, .nav-a-1060:active, .experiments-1060:active,
#anova-500:hover, .nav-menu-items-500:hover, .nav-a-500:hover, 
#anova-500:active, .nav-menu-items-500:active, .nav-a-500:active, .experiments-500:active{
	color: hotpink;
}

.nav-menu-items {
	text-align: right;
    list-style: none;
}

.nav-ul {
    display: inline-block; 
	margin-top: 0;
	margin-bottom: 0;
}

.experiments, .experiments-1060, .experiments-500 {
	/*opacity: 0.65;
	cursor: not-allowed;*/
	color: #696969; 
}

.experiments:hover, .experiments-1060:hover, .experiments-500:hover {
	color: hotpink;
	/*opacity: 0.5;*/
}

.contacts, #email {
	text-decoration: none;
}

.bottom-nav-900 {
	display: none;
}

.bottom-nav-500 {
	display: none;
}

#anova-1060, .nav-menu-items-1060, .nav-a-1060, .experiments-1060, #anova-500, .nav-menu-items-500, .nav-a-500, .experiments-500 {
	display: none;
}

@media screen and (max-width: 900px) {
	.bottom-nav {
		display: none;
	}

	.bottom-nav-900 {
		display: flex;
		flex-direction: row;
		padding: 1.5rem 20% 1.2rem 20%;
		justify-content: space-between;
		border-top: 1px dashed #b6b6b6;
	}
}

 @media screen and (max-width: 500px) {
	.bottom-nav {
		display: none;
	}

	.bottom-nav-900 {
		display: none;
	}

	.bottom-nav-500 {
		display: flex;
		flex-direction: row;
		padding: 1.5rem 10% 1.2rem 10%;
		justify-content: space-between;
		border-top: 1px dashed #b6b6b6;
	}
}

@media screen and (max-width: 1060px) {
	.top-nav, #anova-500, .nav-menu-items-500, .nav-a-500, .experiments-500 {
		display: none;
	}

	#anova-1060 {
		font-family: 'Miriam Libre', sans-serif;
		font-size: 1.13rem;
		color: #696969;
		text-decoration: none;
		display: block;
		padding-bottom: 0.2rem;
		text-align: center;
		margin-top: 1.5rem;
	}

	.nav-menu-items-1060 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-family: 'Miriam Libre', sans-serif;
		font-size: 1.13rem;
		color: #696969;
	}

	.nav-a-1060, .experiments-1060 {
		display: flex;
		text-decoration: none;
		text-align: center;
		margin: 2rem;
	}

	.contact-icon {
		max-width: 85%;
	}
}

@media screen and (max-width: 500px) {
	.top-nav, .nav-a-1060, .experiments-1060, .nav-menu-items-1060, #anova-1060 {
		display: none;
	}

	#anova-500 {
		font-family: 'Miriam Libre', sans-serif;
		font-size: 1.13rem;
		color: #696969;
		text-decoration: none;
		display: block;
		padding-bottom: 0.4rem;
		text-align: center;
		margin-top: 1.5rem;
		border-bottom: 1px solid #b6b6b6
	}

	.nav-menu-items-500 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Miriam Libre', sans-serif;
		font-size: 1.13rem;
		color: #696969;
	}

	.nav-a-500, .experiments-500 {
		display: block;
		text-decoration: none;
		text-align: center;
		margin-top: 1rem;
	}
	
	.contact-icon {
		max-width: 85%;
	}
}

.icon:hover {
	fill: hotpink;
  }
