/* external css style file */

* {
	box-sizing: border-box;
}

html {
	overflow: auto;
}

body {
	font-family: 'Muli', sans-serif;
}

nav {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 18px;
	color: #696969;
}

a {
	text-decoration: none;
}

a:visited, a:link {
	color: #696969;
}

a:hover, a:active {
	color: hotpink;
}

h2 {
	margin-top: 110px;
	font-size: 30px;
	margin-bottom: 25px;
}

h3 {
	font-size: 27px;
}

h4 {
	font-size: 25px;
	color: #696969;
}

h5 {
	font-size: 25px;
	color: #696969;
}

p {
	font-size: 16px;
	line-height: 32px;
	color: #696969;
	margin-bottom: 0;
}

ol, ul {
	font-size: 16px;
	line-height: 32px;
	color: #696969;
	margin-bottom: 0;
}

.grid-1 {
	display: grid;
	height: 50px;
	align-content: center;
	grid-template-columns: 150px minmax(121px, 121px) auto 400px 150px;
}

#anova {
	grid-column: 2;
	border-bottom: 2px solid currentColor;
}

.nav-menu-items {
	text-align: right;
	grid-column: 4;
}

.nav-item {
  	margin: 0 40px 0 40px;
}

.grid-2 {
	display: grid;
	grid-template-columns: 450px auto auto auto auto 450px;
	height: 100px;
	grid-row-gap: 20px;
	align-content: center;
	border-top: 1px solid #d1d1d1;
	padding: 10px 0 10px 0;
}

.contacts-1 {
	grid-column: 2;
	text-align: center;
}

.contacts-2 {
	grid-column: 3;
	text-align: center;
}

.contacts-3 {
	grid-column: 4;
	text-align: center;
}

.contacts-4 {
	grid-column: 5;
	text-align: center;
}

#email {
	grid-column: 2 / 6;
	text-align: center;
	text-decoration: underline;
}

.grid-3 {
	display: grid;
	grid-template-columns:
		minmax(1em, 1fr)
		minmax(0, 55%)
		minmax(1em, 1fr)
	;
}

.grid-3 > * {
	grid-column: 2;
}

.full-width {
	grid-column: 1 / 4;
}

.page-title {
	text-align: center;
	font-size: 35px;
	margin-bottom: 25px;
	margin-top: 110px;
}

.case-study-tagline {
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-variant: all-petite-caps;
}

#about {
	text-align: center;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 18px;
}

.grid-4 {
 display: grid;
 grid-template-columns:
		minmax(1em, 1fr)
		minmax(0, 27.5%)
		minmax(0, 27.5%)
		minmax(1em, 1fr)
 ;
}

.experience, .education {
	grid-column: 2;
	font-size: 25px;
	margin-bottom: 0;
	text-align: center;
}

.designation, .time-place, .job-description {
	grid-column: 3;
	color: #696969;
}

.designation {
	font-size: 20px;
	margin-top: 30px;
	font-weight: 600;	
}

.time-place {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 16px;
	margin-top: 10px;
	color: #aeaeae;
}

.job-description {
	font-size: 17px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.cs-image {
	display: block;
	margin: 25px auto;
}

.grid-5 {
	display: grid;
	grid-template-columns:
		minmax(1em, 1fr)
		repeat(3, minmax(0, 25%))
		minmax(1em, 1fr)
	;
	margin: 30px 0 25px 0;
	grid-gap: 25px;
}

.case-studies {
	grid-column: 2;
	font-family: 'Miriam Libre', sans-serif;
	font-size: 18px;
	color: #696969; 
}

.cs-tile-1 {
	grid-column: 2;
}

.cs-tile-2 {
	grid-column: 3;
}

.cs-tile-3 {
	grid-column: 4;
}

.download {
	width: 200px;
	margin: 50px auto 100px auto;
	display: block;
	color: #ff0080;
	background-color: #ffffff;
	border: 1px solid #ff0080;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Miriam Libre', sans-serif;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	grid-column: 3;
}

.download:hover {
	color: white;
	background-color: #ff45a2;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
