/* external css style file */

.v-full-width {
    grid-column: 1 / 4;
    display: block;
	margin: 25px auto 0 auto;
}

.verbatch {
    text-align: center;
}

.apostrophe {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 40px;
}

.verbatim {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 18px;
    margin: 1em;
}

.title {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 40px auto 10px auto; 
}