/* external css style file */

.v-full-width {
    grid-column: 1 / 4;
    display: block;
	margin: 25px auto 0 auto;
}

.apostrophe {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 100px;
}

.verbatim {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 22px;
}