/* external css style file */
html {
	overflow: auto;
}

body {
	font-family: 'Muli', sans-serif;
}

nav {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 18px;
	color: #696969;
}

a {
	text-decoration: none;
}

a:visited, a:link {
	color: #696969;
}

a:hover, a:active {
	color: hotpink;
}

.grid-1 {
	display: grid;
	height: 50px;
	align-content: center;
	grid-template-columns: 150px 121px auto 400px 150px;
}

#anova {
	border-bottom: 2px solid currentColor;
}

.nav-menu-items {
	text-align: right;
}

.nav-item {
  margin: 0 40px 0 40px;
}

.grid-2 {
	display: grid;
	grid-template-columns: 450px auto auto auto auto 450px;
	height: 100px;
	grid-row-gap: 20px;
	align-content: center;
}

.contacts {
	text-align: center;
}

#email {
	grid-column: 2 / 6;
	text-align: center;
	text-decoration: underline;
}

.grid-3 {
	display: block;
	margin: 100px 350px 10px 350px;
}

.case-study-title {
	text-align: center;
	text-transform: capitalize;
	font-size: 35px;
	margin-bottom: 2px;
}

.case-study-tagline {
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-variant: all-petite-caps;
}

h2 {
	margin-top: 110px;
	font-size: 30px;
}



button {
	width: 170px;
	margin:0 auto;
	display: block;
	color: #ffffff;
	background-color: #ff0080;
	border: none;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

button:hover {
	color: white;
	background-color: #ff45a2;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
