/* external css style file */
body {
	padding: 18px 180px; 
	border: 0;
	margin: 0;
}

header {
	font-family: "verdana", sans-serif; 
	font-size: 18px;
	color: #0c0c0c;
	background-color: #ffffff
}

#nav-menu {
	float: right;
}

a {
	text-decoration: none;
}

#intro {
	padding: 50px 0px;
	border: 0;
	font-family: "verdana", sans-serif;
	width: 600px;
	margin: auto;
	text-align: center;
	letter-spacing: 2px;
}

footer {
	width: 440px;
	margin: auto;
	text-align: center;
	font-family: verdana; 
	font-size: 18px;
	color: #0c0c0c;
	background-color: #ffffff
}

a:link, a:visited {
	color: #0c0c0c;
}

a:hover {
	color: hotpink;
}

#myself {
	padding: 50px 0px;
	border: 0;
	font-family: "verdana", sans-serif;
	width: 600px;
	margin: auto;
	text-align: left;
}

p {
	font-size: 15px;
	line-height: 1.8;
}

#head {
	font-size: 24px;
	font-weight: bold;
	width: 50%;
	margin: auto;
	text-align: center; 
}

button {
	color: #ffffff;
	background-color: #ff0080;
	border: none;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

button:hover {
	color: white;
	background-color: #ffa2d0;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

