/* external css style file for the user persona section*/

.user-persona {
    text-align: center;
    color: #696969;
    display: grid;
    grid-template-columns: 
        minmax(1em, 1fr)
        minmax(0, 75%)
        minmax(1em, 1fr)
    ;
}

.persona-number {
    grid-column: 2;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 20px;
    color: #b6b6b6;
}

.persona-name {
    grid-column: 2;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}

.persona-tagline {
    grid-column: 2;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
}

.persona-description {
    grid-column: 2;
    font-size: 15px;
    margin-top: 25px;
    text-align: left;
}

.persona-goal, .persona-frustration {
    grid-column: 2;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    font-family: 'Miriam Libre', sans-serif;
}

.persona-gd, .persona-fd {
    grid-column: 2;
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
    line-height: 25px;
}
