/* external css style file for the user persona section*/

.user-persona {
    text-align: center;
    color: #696969;
    display: grid;
    grid-template-columns: 
        minmax(1em, 1fr)
        minmax(0, 55%)
        minmax(1em, 1fr)
    ;
    border-bottom: 1px dashed #b6b6b6;
}

.img-person {
    display: block;
    margin: 0 auto 1.4rem auto;
}

.persona-number {
    grid-column: 2;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 1.4rem;
    color: #b6b6b6;
    margin-bottom: 0.3em;
}

.persona-name {
    grid-column: 2;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 1.3rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 0.3em;
}

.persona-tagline {
    grid-column: 2;
    font-weight: 300;
    font-size: 1.1rem;
    color: grey;
}

.persona-description {
    grid-column: 2;
    font-size: 15px;
    margin-top: 25px;
    text-align: left;
    line-height: 20px;
}

.persona-goal, .persona-frustration {
    grid-column: 2;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    font-family: 'Miriam Libre', sans-serif;
}

.persona-gd, .persona-fd {
    grid-column: 2;
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
    line-height: 25px;
    margin-bottom: 25px;
}
